<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<input type='text' name='id_immagine' id='id_immagine'/><br />

<button  onClick='anteprimaImmagine()' > <a class="phaidra-logo"  title="Image preview"><img src="https://phaidra.cab.unipd.it/static/padova/img/logos/phaidra-logo.png" height ="50" width="70" alt="Phaidra - Collezioni digitali">
		
		</a> Image preview</button><br />
  

<script type="text/javascript">


function anteprimaImmagine() {
	var testo= $('#id_immagine').val();
    var imageUrl = 'https://fc.cab.unipd.it/fedora/objects/o:'+testo+'/methods/bdef:Asset/getThumbnail';
    $('#img_anteprima').attr('src', imageUrl);
  
 ; 


}
  
  

  
  
  
  



</script>


  <img id="img_anteprima" />

</div>
<br />