<input type='text' name='codice' id='codice'/><br />
<button  onClick='mostra()' > <a class="phaidra-logo"  title="Phaidra - Code Searcher"><img src="https://phaidra.cab.unipd.it/static/padova/img/logos/phaidra-logo.png" height ="50" width="70" alt="Phaidra - Collezioni digitali">
	
   	
		</a> </button><br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  
function mostra() {
	var testo= $('#codice').val();
	console.log(testo);
    
  //$(document).ready(function(){
	   var url = "https://phaidra.cab.unipd.it/api/object/o:"+testo+"/dc";
	  $.getJSON(url, function(response){
            console.log(response);
        alert(response);
        var myData = '';
		$.each(response, function(a,campo){
		  console.log(campo);
          myData+=campo.xmlname + ": " + campo.ui_value + "\n";
		  $(".dc").append(myData);
          //$("[name='wpcf-phaidra']").val(myData);
         });
        
        });
  };
</script>
  
  <div class="dc"></div>