<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
var url = "https://phaidra.cab.unipd.it/api/collection/o:307311/members";
$.getJSON(url, function(response){
console.log(response.metadata.members);
$.each(response.metadata.members, function(a,campo){
var myId = campo.pid.substring(2);
var url2= "https://phaidra.cab.unipd.it/api/object/o:"+myId+"/index"
$.getJSON(url2, function(response2){
console.log(response2.index);
$.each(response2.index.dc_description, function(a,campo2){
console.log(campo2); 
var campoesc2='<div><img src="https://fc.cab.unipd.it/fedora/objects/o:'+myId+'/methods/bdef:Asset/getThumbnail"></img></div><div id='+myId+' ></div><hr>'
$(".members").append(campo2);
$(".members").append(campoesc2);
});
});
});
});
</script>
<div class="members"></div>


