<form name="image-form" id="image-form">
    <label for="image-input">File</label>
    <input name="image-input" id="image-input" type="file">
     
    <input type="submit" value="Upload">
</form>
<script>
var imageForm = $( '#image-form' ),
    fileInput = $('#file'),
    formData = new FormData();
 
imageForm.on( 'submit', function( e ) {
    e.preventDefault();
     
    formData.append( 'file', fileInpt[0].file[0] );
     
    $.ajax({
        url: 'http://testcab.openview.it/wp-json/wp/v2/media',
        method: 'POST',
        data: formData,
        crossDomain: true,
        contentType: image/jpg,
		content-disposition: attachment,
		filename=prova.jpg,
        processData: false,
        beforeSend: function ( xhr ) {
            xhr.setRequestHeader('authorization', 'Basic ZmVkZXJpY29yaXp6YXRvNzVAZ21haWwuY29tOlZhbGxpc25lcmlfMTY2MQ==');
        },
        success: function( data ) {
            console.log( data );
        },
        error: function( error ) {
            console.log( error );
        }
    });
});