<form action="http://testcab.openview.it/cercarepertofor.php" id="nome">
  
  
 
  
  <select name="nome" form="nome">
  <option value="zoologia">zoologia</option>
  <option value="antropologia">antropologia<option>
  
</select>
  
  
  
  
  
  
  
   <input type="submit" value="Invia">
</form>