
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>




<form name="modulo" >


		
			<select id="selCollezione" name="collezione" width="50px"  height="100px">
				<option value="329128">Francigena</option>
				<option value="332228">Teatro del mondo</option>
				<option value="269435">Erbario Marsili</option>
				<option value="75413">Descrizioni orto botanico<option>
				<option value="307311">Luzzatto</option>
				<option value="302431">Libri antichi e pubblico dominio</option>
				<option value="109550">Biblioteca di Linguistica e Filologia</option>
				<option value="269435">Modelli di ponti della Regia Scuola</option>
				<option value="152073">Pergamene di S. Maria delle Carceri</option>
				<option value="74545">Il fondo Mario Labò</option>
			    <option value=""></option>
				<option value=""></option>
			    <option value=""></option>
				 <option value=""></option>
				<option value=""></option>
			    <option value=""></option>
				<option value=""></option>
				<option value=""></option>
			    <option value=""></option>
				 <option value=""></option>
				<option value=""></option>
			    <option value=""></option>
								
			</select>
			
			<select id="selMembri" name="membri"></select>

				
			

		</td>
	</tr>
	
	<tr>

		<td colspan="2" align="center"><button onClick="loadPids(); return false;" >INVIA</button></td>
		
		<div id="dc"></div>
		
		

		
	</tr>
</table>
</form>

<script>

    function loadPids() {
	    var idCollection = $("#selCollezione").val();
	    $.get("https://phaidra.cab.unipd.it/api/collection/o:"+idCollection+"/members", function(data, status){
       // alert("Data: " + data + "\nStatus: " + status);
		alert("Ora seleziona la collezione");
		
			var obj = data;
			var members = obj.metadata.members;
			var listaForSelect =[];
			for (var i =0; i < members.length; i++) {
				listaForSelect.push(members[i].pid);
			}
						
			$('#selMembri')
				.find('option')
				.remove()
				.end();
				
			$('#selMembri').append($('<option>', { 
					value: '',
					text : 'Seleziona....'
				}));	
				
			$.each(listaForSelect, function (i, item) {
			
			
	 
				$('#selMembri').append($('<option>', { 
					value: item,
					text : item
				}));
						
			});
		
		
		

	    
		});



}




$(document).ready(function(){
	$('#selMembri').on('change', function()
	{

		 var selectedMember = $('#selMembri').val();
		 $("#dc").empty();
		 
		 collectionItems(selectedMember);
		 

	});
 });

 
 function collectionItems(selectedMember) {
 
 		 if (!selectedMember || selectedMember==='') return;
		 			

					
		var urlx ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";		
		
		
		
					
			$.getJSON(urlx, function(responsex){		
					
					
					
					
					
					
					
				
		var url ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";		
		
		
		
					
			$.getJSON(url, function(response){	
			
			var url2 ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";
			
			$.getJSON(url2, function(response2){
			    console.log(response2.metadata.members);

				$.each(response2.metadata.members, function(i, field){
				console.log(field.xmlname);
				//$("#dc").append(field.pid + "<br />");
				
				
				var url3 ="https://phaidra.cab.unipd.it/api/object/"+field.pid+"/dc";
			
			$.getJSON(url3, function(response3){
			    console.log(response3.metadata.dc);

				$.each(response3.metadata.dc, function(i, field2){
				console.log(field2);
				$("#dc").append("<div><div>"+field2.xmlname + ":" + field2.ui_value+ "</div>" +"</br>");
				
				
				});
				$("#dc").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+field.pid+'/methods/bdef:Asset/getThumbnail"></img></div>');
				$("#dc").append('<hr>');
				
				
				
				
				});
				
				

});  
				  
	
	
	
	
	
		 

			});
		});
		});
 



}
	  
	  


</script>