<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div ng-app="showTable" ng-controller="arrayCtrl"> 
<table>
<tr>
</tr>
<div ng-init="myVar = ''">
<tr ng-repeat="member in members">
<td>{{member.pid}}</td>
<img src="https://fc.cab.unipd.it/fedora/objects/{{member.pid}}/methods/bdef:Asset/getThumbnail"></img>
</tr>


</table>
</div>
<script>
/*
function mostra() {
	var testo= $('#codice').val();
	console.log(testo);
	$(document).ready(function(){*/
var table = angular.module('showTable', []);
table.controller('arrayCtrl', function($scope, $http) {
    $http.get("https://phaidra.cab.unipd.it/api/collection/o:56179/members")
    .success(function (response) {$scope.members = response.metadata.members;});
});

</script>
</body>
</html>