	<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<meta charset="utf-8">
<title></title>
</head>



<body ng-app="objectListApp2" ng-controller="objectsController2">
<div class="panel panel-default" ng-show="currentobject2">
<div class="panel-heading">
<strong>{{currentobject2.name}}</strong>
<button type="button" class="close" aria-hidden="true" ng-click="showobject(null)">&times;</button>
</div>
<div class="panel-body">
<br /> 
</div>
</div>













<img ng-show="objectID2" src="https://fc.cab.unipd.it/fedora/objects/o:{{objectID2}}/methods/bdef:Asset/getThumbnail"></img>




<table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Codice PHAIDRA</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in objects">
		

<td>
{{$index + 1}}
</td>
<td>
{{object.pid}}<a href="https://fc.cab.unipd.it/fedora/objects/{{object.pid}}/methods/bdef:Asset/get"><img src="https://fc.cab.unipd.it/fedora/objects/{{object.pid}}/methods/bdef:Asset/getThumbnail"></img></a></div>
</td>
<td><div ng-attr-id="dc_{{Pid2(object.pid)}}"></td>  
</tr>
</tbody>
</table>

    
</body>

<script>
angular.module('objectListApp2', [])
.factory('objectservice', function ($http) {
  
  var objects = []; 
  
  
    return {
      objects: objects,
      
      load: function (id2) {
        return $http
        .get('https://phaidra.cab.unipd.it/api/collection/o:'+id2+'/members')
        .success(function (data) {
			objects.length=0;
           objects.push.apply(objects, data.metadata.members);
		   console.log(data.metadata.members);
		 
		 
/////////////////$.getJSON/////dublin core//////	 
/*
		  $.each(objects, function(o,oggetto){
			   $http.get('https://phaidra.cab.unipd.it/api/object/'+oggetto.pid+'/dc').success(function (data) {
					console.log(data.metadata.dc);
			        $.each(data.metadata.dc, function(a,campo){
					  console.log(campo);
					
					
			var myData = '';
		    myData+=campo.xmlname + ": " + campo.ui_value + "\n"+"<div></div>";
			$("#dc_"+oggetto.pid.substring(2)).append(myData);
					
					
					
					  
					   });
					
					
					
			   });
		   });
		
*/

$.each(objects, function(o,oggetto){
			   $http.get('https://phaidra.cab.unipd.it/api/object/'+oggetto.pid+'/index').success(function (data) {
					console.log(data);
			        $.each(data, function(a,campo){
					  console.log(campo);
					
					
			var myData = '';
		    myData+=campo.dc_title+"<div></div>"+campo.dc_description;
			$("#dc_"+oggetto.pid.substring(2)).append(myData);
					
					
					
					  
					   });
					
					
					
			   });
		   });





























/////////////////////ajax

	
		 
	  
 
		  
		   
		   
        });
        
      },
     
      
    };
})


.controller('objectsController2', function ($scope, objectservice) {
  
  $scope.objects = objectservice.objects;
  
  $scope.objectID2='62504';
  
  
  
 
	
 objectservice.load($scope.objectID2);

 
  $scope.Pid2 = function (pid) {
	return pid.substring(2);
  };

    
  

  $scope.currentobject2 = null;
  
  $scope.showobject = function (dc) {
    if (dc) {
      objectservice.loadSingle($scope.objectID2, dc).success(function (data) {
        $scope.currentobject2 = data;
      });
    } else {
      $scope.currentobject2 = null;
    }
    
  };
  
 
  
});



			



</script>



















</html>