<html>
<head>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>











  <meta charset="utf-8">
  
  
  
  
  <title></title>
  
  
  
  
  
  
  
  
  
  
  
</head>
<body ng-app="objectListApp2" ng-controller="objectsController2">
  
    <div class="panel panel-default" ng-show="currentobject2">
  <div class="panel-heading">
    <strong>{{currentobject2.name}}</strong>
    <button type="button" class="close" aria-hidden="true" ng-click="showobject(null)">&times;</button>
  </div>
  <div class="panel-body">
     <br /> 
  </div>
</div>


 
<input type="text" ng-model="inputOggetto2"></input><button ng-click="loadImage()">Carica</button> 
<img ng-show="objectID2!==''" src="https://fc.cab.unipd.it/fedora/objects/o:{{objectID2}}/methods/bdef:Asset/getThumbnail"></img>




<table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in objects">
		

          <td>
		  {{$index + 1}}
		  </td>
		  <td>
		
		  </td>
		  
          <td>
		  
		  
		  
		  
		  

{{object.pid}}<a href="https://phaidra.cab.unipd.it/api/object/{{object.pid}}/index"><img src="https://fc.cab.unipd.it/fedora/objects/{{object.pid}}/methods/bdef:Asset/getThumbnail"></img></a></div>
         
           
<div class="dc"></div>
			
          
			  
			  
          
			
          </td>
          
           
        </tr>
      </tbody>
    </table>

    
</body>

<script>

angular.module('objectListApp2', [])
.factory('objectservice', function ($http) {
  
  var objects = []; 
  
  
    return {
      objects: objects,
      
      load: function (id2) {
        return $http
        .get('https://phaidra.cab.unipd.it/api/collection/o:'+id2+'/members')
        .success(function (data) {
			objects.length=0;
           objects.push.apply(objects, data.metadata.members);
		   console.log(data.metadata.members)
        });
        
       
	


	 },
     
   	  
	 	  
	  
	  
    };	

	
	
})




.controller('objectsController2', function ($scope, objectservice) {
  
  $scope.objects = objectservice.objects;
  
  $scope.objectID2='';
  
  $scope.loadImage = function () {
	  $scope.objectID2=$scope.inputOggetto2;
	  objectservice.load($scope.objectID2);

  };
  

  $scope.currentobject2 = null;
  
  $scope.showobject = function (dc) {
    if (dc) {
      objectservice.loadSingle($scope.objectID2, dc).success(function (data) {
        $scope.currentobject2 = data;
      });
    } else {
      $scope.currentobject2 = null;
    }
    
  };
  
 
  
});

	
function mostra(){	
	
				
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/collection/o:"+id2+"/members";
	  $.getJSON(url, function(response){
	  console.log(response.metadata.members);
		$.each(response.metadata.members, function(a,campo2){
	  
	  	var url2 = "https://phaidra.cab.unipd.it/api/object/"+campo2.pid+"/dc";
	  $.getJSON(url2, function(response2){
		console.log(response2.metadata.dc);
		$.each(response2.metadata.dc, function(a,campo){
		  console.log(campo);
		  $(".dc").append(campo.xmlname + ": " + campo.ui_value + "<br />");
		  	  
		});
														
	  });
	});

	});
});	
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	



</script>








</html>