<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

  <meta charset="utf-8">
  <title></title>
</head>
<body ng-app="objectListApp2" ng-controller="objectsController2">
  
    <div class="panel panel-default" ng-show="currentobject2">
  <div class="panel-heading">
    <strong>{{currentobject2.name}}</strong>
    <button type="button" class="close" aria-hidden="true" ng-click="showobject(null)">&times;</button>
  </div>
  <div class="panel-body">
     <br /> 
  </div>
</div>
 
<input type="text" ng-model="inputOggetto2"></input><button ng-click="loadImage()">Carica</button> 

<img ng-show="objectID2!==''" src="https://fc.cab.unipd.it/fedora/objects/o:{{objectID2}}/methods/bdef:Asset/getThumbnail"></img>




<table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in objects">
		

          <td>
		  {{$index + 1}}
		  </td>
		  <td>
		 
		  </td>
          <td>
             <img src="https://fc.cab.unipd.it/fedora/objects/{{object.pid}}/methods/bdef:Asset/getThumbnail"></img>
              {{object.title}}
			  
			  
           
			
			
              {{object.pid}}
			  
			  
           
              {{object.cmodel}}
			  
	
			
          </td>
          
          
        </tr>
      </tbody>
    </table>

    
</body>

<script>
angular.module('objectListApp2', [])
.factory('objectservice', function ($http) {
  
  var objects = []; 
  
  
    return {
      objects: objects,
      
      load: function (id2) {
        return $http
        .get('https://phaidra.cab.unipd.it/api/object/o:'+id2+'/related?relation=info%3Afedora%2Ffedora-system%3Adef%2Frelations-external%23hasCollectionMember')
        .success(function (data) {
			objects.length=0;
           objects.push.apply(objects, data.objects);
		   console.log(data.hits)
        });
        
      },
     
      
    };
})
.controller('objectsController2', function ($scope, objectservice) {
  
  $scope.objects = objectservice.objects;
  
  $scope.objectID2='';
  
  $scope.loadImage = function () {
	  $scope.objectID2=$scope.inputOggetto2;
	  objectservice.load($scope.objectID2);

  };
  

  $scope.currentobject2 = null;
  
  $scope.showobject = function (dc) {
    if (dc) {
      objectservice.loadSingle($scope.objectID2, dc).success(function (data) {
        $scope.currentobject2 = data;
      });
    } else {
      $scope.currentobject2 = null;
    }
    
  };
  
 
  
});
</script>






</html>